<div class="container">
  <c-card>
    <c-card-header class="header-card">
      <strong>ลูกค้า</strong>
    </c-card-header>
    <c-card-body>
      <div class="row mb-3">
        <div class="row justify-content-between">
          <div class="col row">
            <div class="col-auto">
              <div style="width: 309px;">
                <input class="form-control me-2" type="search" [formControl]="formSearch" placeholder="ค้นหา" aria-label="Search" style="width: 180px;display: inline-block;">
                <button type="button" class="btn btn-primary me-1 text-white" (click)="onSearch()"  style="padding: 2px 9px;height: 36px;margin-top: -6px;width: 110px;">
                  <span>ค้นหา</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col" style="text-align: end;">
            <button type="button" class="btn btn-success me-1 text-white" (click)="openModalAddProduct()">
              <span>เพิ่ม</span>
            </button>
          </div>
        </div>
      </div>
      <table cTable>
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">ชื่อ</th>
            <th scope="col" class="text-center">ที่อยู่</th>
            <th scope="col" class="text-center">ติดต่อ</th>
            <th scope="col" class="text-center">ประวัติ</th>
            <th scope="col" class="text-center">รายละเอียด</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ds of customerModel; let i = index">
            <th scope="row" class="text-center">{{i+1}}</th>
            <td class="text-center">{{ds.customerName}}</td>
            <td class="text-center">{{ds.address}}</td>
            <td class="text-center">{{ds.contact}}</td>
            <td class="text-center">{{ds.history}}</td>
            <td class="text-center">{{ds.description}}</td>
            <td class="text-center">
              <button type="button" (click)="onEdit(ds.customerId)" class="btn btn-info me-1"><i class="fa-solid fa-pencil-square-o text-white"></i></button>
              <button type="button" (click)="onDelete(ds.customerId)" class="btn btn-danger"><i class="fa-solid fa-trash text-white"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <c-pagination aria-label="Page navigation example" [size]="'sm'">
          <c-page-item >
            <a cPageLink [routerLink]="[]">ก่อนหน้า</a>
          </c-page-item>
          <c-page-item [active]="true">
            <a cPageLink [routerLink]="[]">1</a>
          </c-page-item>
          <c-page-item>
            <a cPageLink [routerLink]="[]">2</a>
          </c-page-item>
          <c-page-item>
            <a cPageLink [routerLink]="[]">3</a>
          </c-page-item>
          <c-page-item>
            <a cPageLink [routerLink]="[]">ถัดไป</a>
          </c-page-item>
        </c-pagination>
      </div>
    </c-card-body>
  </c-card>


</div>


<c-modal id="liveDemoModal" [visible]="isShowModal" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>เพิ่มลูกค้า</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="customerForm"> <!-- เพิ่ม formGroup binding -->
      <div class="mb-3">
        <label class="form-label">ชื่อ</label>
        <input type="text" class="form-control" placeholder="ชื่อ" formControlName="customerName"> <!-- formControlName -->
      </div>
      <div class="mb-3">
        <label class="form-label">ที่อยู่</label>
        <input type="text" class="form-control" placeholder="ที่อยู่" formControlName="address"> <!-- formControlName -->
      </div>
      <div class="mb-3">
        <label class="form-label">ติดต่อ</label>
        <input type="text" class="form-control" placeholder="ติดต่อ" formControlName="contact"> <!-- formControlName -->
      </div>
      <div class="mb-3">
        <label class="form-label">ประวัติ</label>
        <input type="text" class="form-control" placeholder="ประวัติ" formControlName="history"> <!-- formControlName -->
      </div>
      <div class="mb-3">
        <label class="form-label">รายละเอียด</label>
        <input type="text" class="form-control" placeholder="รายละเอียด" formControlName="description"> <!-- formControlName -->
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="onSave()">บันทึก</button> <!-- เพิ่ม onSave -->
  </c-modal-footer>
</c-modal>

