<c-modal [alignment]="'center'" [backdrop]="'static'" [id]="'confrim'" [visible]="visible">
    <c-modal-header>
      <h5 cModalTitle>แจ้งเตือน</h5>
    </c-modal-header>
    <c-modal-body>
      <div class="d-flex justify-content-between align-items-center p-2">
        <span>{{ alertMessage }}</span>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="submit()" type="button" class="btn btn-danger">{{btnConfrimText}}</button>
      <button (click)="closeModal()" type="button" class="btn btn-secondary">ยกเลิก</button>
    </c-modal-footer>
  </c-modal>
  