.btn-black {
    background-color: #ffffff;
    border-color: #d2d2d2;
    color: black;
  }
  
  .btn-black:hover {
    background-color: #ffffff;
    border-color: #d2d2d2;
    color: black;
  }
  
  
  .btn-black:active {
    background-color: #dedede;
    border-color: #a1a1a1;
    color: black;
  }