<c-card class="mb-4">
  <c-card-header>
    Craftperson search
  </c-card-header>
  <c-card-body>
    <c-row>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label for="craftsperson_name">Craftsperson Name:</label>
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <input
                id="craftsperson_name"
                formControlName="craftsperson_name"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </c-row>
  </c-card-body>
</c-card>

<c-card class="mb-4">
  <c-card-header>
    Craftperson list
  </c-card-header>
  <c-card-body>
    <c-row>
      <div class="container">
        <table class="rounded-table mt-2" [hover]="true" [striped]="true" cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Contact</th>
              <th scope="col">History</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ds of craftspersonModel; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ds.craftsperson_name}}</td>
              <td>{{ds.address}}</td>
              <td>{{ds.contact}}</td>
              <td>{{ds.history}}</td>
              <td>{{ds.description}}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm me-2">
                  <i class="cil-pencil"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm">
                  <i class="cil-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <c-pagination align="end" aria-label="Page navigation example">
          <li cPageItem>
            <a cPageLink aria-label="Previous" [routerLink]><span aria-hidden="true">&laquo;</span></a>
          </li>
          <li cPageItem>
            <a cPageLink [routerLink]>1</a>
          </li>
          <li cPageItem>
            <a cPageLink [routerLink]>2</a>
          </li>
          <li cPageItem>
            <a cPageLink [routerLink]>3</a>
          </li>
          <li cPageItem>
            <a cPageLink aria-label="Next" [routerLink]><span aria-hidden="true">&raquo;</span></a>
          </li>
        </c-pagination>
      </div>
    </c-row>
  </c-card-body>
</c-card>
