
.craft .craft-image {
    margin-right: 15px;
}

.craft .craft-image img {
    height: 170px;
    width: 200px;
}

.craft p {
    margin-bottom: 0;
}

.craft .craft-action{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.icon-craft {
    width: 28px;
}
.image-btn {
    height: 29px;
    padding: 0px;
    border-radius: 0px;
    width: 100%;
  }