<div class="container">
  <c-card>
    <c-card-header class="header-card">
      <strong>ตารางผลิตภัณฑ์จักสาน</strong>
    </c-card-header>
    <c-card-body>
      <div class="row mb-3">
        <div class="row justify-content-between">
          <div class="col row">
            <div class="col-auto">
              <div style="width: 309px;">
                <input class="form-control me-2" type="search" [formControl]="formSearch" placeholder="Search" aria-label="Search" style="width: 180px;display: inline-block;">
                <button type="button" class="btn btn-primary me-1 text-white" (click)="onSearch()"  style="padding: 2px 9px;height: 36px;margin-top: -6px;width: 110px;">
                  <span>ค้นหา</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col" style="text-align: end;">
            <button type="button" class="btn btn-success me-1 text-white" (click)="openModalAddProduct()">
              <span>เพิ่ม</span>
            </button>
          </div>
        </div>
      </div>
      <div class="table-container-scroll">
        <table cTable style="width: 1500px;position: relative;">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">รูป</th>
              <th scope="col" class="text-center">ชื่อ</th>
              <th scope="col" class="text-center">รายละเอียด</th>
              <th scope="col" class="text-center">ชนิดของวัสดุ</th>
              <th scope="col" class="text-center">ราคาต้นทุน</th>
              <th scope="col" class="text-center">ราคาขาย</th>
              <th scope="col" class="text-center">รหัสช่างจักสาน</th>
              <th scope="col" class="text-center">รายละเอียดอื่นๆ</th>
              <th scope="col" class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products;let i = index">
              <th scope="row" class="text-center">{{i+1}}</th>
              <td class="text-center" ><img class="product-image" [src]="(product.image.length > 0) ? pathImage+'/'+product.image[0].image : ''" alt="Description of Image" width="120" height="100" (click)="showModalImage(product.image)"></td>
              <td class="text-center" >{{product.nameProduct}}</td>
              <td class="text-center" >{{product.description}}</td>
              <td class="text-center" >{{product.amount}}</td>
              <td class="text-center" >{{product.costPrice}}</td>
              <td class="text-center" >{{product.salePrice}}</td>
              <td class="text-center" >{{product.salePrice}}</td>
              <td class="text-center" >{{product.otherDetails}}</td>
              <td class="text-center fixed-column" >
                <button type="button" class="btn btn-info me-1" (click)="onEdit(product)"><i class="fa-solid fa-pencil-square-o text-white"></i></button>
                <button type="button" class="btn btn-danger" (click)="deleteProductById(product.productId)"><i class="fa-solid fa-trash text-white"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <c-pagination aria-label="Page navigation example" [size]="'sm'">
          <c-page-item >
            <a cPageLink [routerLink]="[]">ก่อนหน้า</a>
          </c-page-item>
          <c-page-item [active]="true">
            <a cPageLink [routerLink]="[]">1</a>
          </c-page-item>
          <c-page-item>
            <a cPageLink [routerLink]="[]">2</a>
          </c-page-item>
          <c-page-item>
            <a cPageLink [routerLink]="[]">3</a>
          </c-page-item>
          <c-page-item>
            <a cPageLink [routerLink]="[]">ถัดไป</a>
          </c-page-item>
        </c-pagination>
      </div>
    </c-card-body>
  </c-card>


</div>


<c-modal id="liveDemoModal" [backdrop]="'static'" [size]="'lg'" [visible]="isShowModal" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{titleModalInsert}}</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container mt-4 mb-3">
      <div class="row justify-content-between mb-3">
        <div></div>
        <div class="text-end">
          <input #fileUpdate type="file" style="display: none;" (change)="onFilesSelected($event)" class="form-control mb-3">
          <button type="button" class="btn btn-success text-white" (click)="onUpload(fileUpdate)">+ <i class="fa-solid fa-image"></i></button>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <div *ngIf="this.imageList.length == 0" class="col-auto" >
          <div class="card h-100" style="width: 132px;">
            <img src="assets/images/image-placeholder.svg" class="card-img-top image-item " (click)="onUpload(fileUpdate)" style="cursor: pointer;" alt="Description of Image">
          </div>
        </div>
        <div class="col-auto" *ngFor="let image of this.imageList; let i = index">
          <div class="card h-100" style="width: 132px;">
            <img #imgProduct [src]="(image.imageId != 0)? pathImage+'/'+image.image : image.image" (click)="onImageOne(image)" class="card-img-top image-item " style="cursor: pointer;">
            <div class="row" style="padding: 0 11px;">
              <div *ngIf="this.imageType == 'EDIT'" class="col" style="padding: 0px;">
                <button type="button" class="btn btn-primary image-btn" (click)="onEditImage(image,fileUpdate)"><i class="fa-solid fa-pencil-square-o text-white"></i></button>
              </div>
              <div class="col" style="padding: 0px;">
                <button type="button" class="btn btn-danger image-btn" (click)="onDeleteImage(image,i)"><i class="fa-solid fa-trash text-white"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5>ช่างจักสาน</h5>
        </div>
        <div class="col-auto">
          <button type="button" (click)="addCraftspersonDetail()" class="btn btn-success me-1 text-white">
            <span>+  <svg cIcon class="me-2" name="cil-group"></svg></span>
          </button>
        </div>
      </div>
      <table cTable>
        <tbody>
          <tr *ngFor="let craftsperson of craftspersonList; let i = index">
            <th scope="row" class="text-left"> {{i + 1}} </th>
            <td>{{craftsperson.craftsperson.craftspersonName}}</td>
            <td class="text-end">
              <button type="button" class="btn btn-danger" ><i class="fa-solid fa-trash text-white"></i></button>
            </td>
          </tr>
          <tr *ngIf="craftspersonList.length == 0">
            <td [colSpan]="3" class="text-center">ไม่มีข้อมูล</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5>วัสดุ</h5>
        </div>
        <div class="col-auto">
          <button type="button" (click)="addMaterialDetail()" class="btn btn-success me-1 text-white">
            <span>+  <svg cIcon class="me-2" name="cil-color-fill"></svg></span>
          </button>
        </div>
      </div>
      <table cTable>
        <tbody>
          <tr *ngFor="let material of materialList; let i = index">
            <th scope="row" class="text-left" > {{i + 1}} </th>
            <td>{{material.material.nameMaterial}}</td>
            <td class="text-end">
              <button type="button" class="btn btn-danger" ><i class="fa-solid fa-trash text-white"></i></button>
            </td>
          </tr>
          <tr *ngIf="materialList.length == 0">
            <td [colSpan]="3" class="text-center">ไม่มีข้อมูล</td>
          </tr>
        </tbody>
      </table>
    </div>
    <form [formGroup]="formGroup">
      <div class="mb-3">
        <label class="form-label">ชื่อ</label>
        <input type="text" class="form-control" formControlName="nameProduct" placeholder="ชื่อ">
      </div>
      <div class="mb-3">
        <label class="form-label">รายละเอียด</label>
        <textarea class="form-control" formControlName="description" placeholder="รายละเอียด"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">จำนวน</label>
        <input type="text" class="form-control" formControlName="amount" placeholder="จำนวน">
      </div>
      <div class="mb-3">
        <label class="form-label">ราคาต้นทุน</label>
        <input type="text" class="form-control" formControlName="costPrice" placeholder="ราคาต้นทุน">
      </div>
      <div class="mb-3">
        <label class="form-label">ราคาขาย</label>
        <input type="text" class="form-control" formControlName="salePrice" placeholder="ราคาขาย">
      </div>
      <div class="mb-3">
        <label class="form-label">รายละเอียดอื่นๆ</label>
        <input type="text" class="form-control" formControlName="otherDetails"  placeholder="รายละเอียดอื่นๆ">
      </div>
    </form>

  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      ยกเลิก
    </button>
    <button cButton color="primary" (click)="saveProduct()">บันทึก</button>
  </c-modal-footer>
</c-modal>


<c-modal id="imageModal" class="imageModal" [size]="'lg'" [visible]="isShowImage" (visibleChange)="handleImageModalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>รูป</h5>
    <button (click)="toggleImageModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container mt-4 mb-3">
      <div class="row justify-content-center">
        <div class="col-auto" *ngFor="let imageModal of imageModalList">
          <img
          [src]="pathImage+'/'+imageModal.image"
          alt="image"
          class="d-block"
          loading="lazy"
          width="350" height="350">
        </div>
      </div>
    </div>
  </c-modal-body>
</c-modal>


<c-modal id="craftspersonDetail" [backdrop]="'static'" class="imageOne" [size]="'lg'" [visible]="isShowCraftspersonDetail" (visibleChange)="handleCraftspersonDetailodalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>ช่างจักสาน</h5>
    <button (click)="toggleCraftspersonDetailModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container mt-4 mb-3">
      <select class="form-select" [formControl]="craftspersonForm" aria-label="Default select example">
        <option selected [value]="null">เลื่อก</option>
        <option *ngFor="let craf of craftperson" [value]="craf.craftspersonId">{{craf.craftspersonName}}</option>
      </select>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleCraftspersonDetailModal()" cButton color="secondary">
      ยกเลิก
    </button>
    <button cButton color="primary" (click)="saveCraftspersonDetail()">เพิ่ม</button>
  </c-modal-footer>
</c-modal>


<c-modal id="materialDetail" [backdrop]="'static'" class="imageOne" [size]="'lg'" [visible]="isShowMaterialDetail" (visibleChange)="handleMaterialDetailModalChange($event)">
  <c-modal-header>
    <h5 cModalTitle>วัสดุ</h5>
    <button (click)="toggleMaterialDetailModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container mt-4 mb-3">
      <select class="form-select" [formControl]="materialForm" aria-label="Default select example">
        <option selected [value]="null">เลือก</option>
        <option *ngFor="let material of materials" [value]="material.materialId">{{material.nameMaterial}}</option>>
      </select>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleMaterialDetailModal()" cButton color="secondary">
      ยกเลิก
    </button>
    <button cButton color="primary" (click)="saveMaterialDetail()">เพิ่ม</button>
  </c-modal-footer>
</c-modal>
