

.table-container-scroll {
  overflow-x: auto;
  margin-bottom: 20px;
  position: relative;
  scrollbar-color: #ffffff21 transparent;
}

.table-container-scroll:hover {
  scrollbar-color: #44444421 transparent;
}

tr>th:first-child,tr>td:first-child {
  position: sticky;
  left: 0;
}

tr>th:last-child,tr>td:last-child {
  position: sticky;
  right: 0;
}

tr>td,tr>th{
  vertical-align: middle
}

.image-item {
  width: 130px;
  height: 130px;
}

.image-btn {
  height: 29px;
  padding: 0px;
  border-radius: 0px;
  width: 100%;
}

.image-add {
  height: 29px;
  padding: 0px;
  width: 53px;
}

img.product-image {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.imageModal .modal-dialog {
  max-width: 900px !important;
}

.icon-add-item {
  color: #00a000;
  cursor: pointer;
}

.icon-add-delete {
  display: block;
  color: #d31200;
  cursor: pointer;
  font-size: 21px;
  transition: transform 0.3s ease-in-out;
  text-align: center;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }
}
