/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

.header-card {
  background-color: #323a49;
  color: white;
}
.rounded-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #ccc;

  // th, td {
  //   border: 1px solid #ddd;
  //   padding: 8px;
  // }



}

i.fa-solid {
  font-family: FontAwesome;
  font-synthesis-style: none;
  font-family: FontAwesome;
}

